html {
	overflow-y:scroll;
}

h1 {
	text-align:center;
}

h3 {
	display:inline-block;
}

select {
	background-color:white;
	border:1px solid #c9c9c9;
	border-radius:0px;
	height:26px;
	vertical-align:top;
}

.result {
	padding-left:25px;
}

.year {
	margin-left:5px;
}

#search-area {
	position:relative;
	display:inline-block;	
	padding:12px;
}

#no-results-alert {
	display:none;
	position:absolute;
	width:200px;
	right:360px;
	color:orange;
}

#result-template {
	display:none;
}

#search-button {
	text-align:center;
	padding-right:8px;
	width:80px;
}

@media (max-width:490px){
	#search-button {
		margin-top:5px;
	}
}




